<div class="container">
    <app-sidebar></app-sidebar>
    <div class="main-content">
        <h1>Create Account</h1>
        <form action="" method="post">
            <label for="POST-name">Nombre:</label>
            <input id="POST-name" type="text" name="name" />
            <label for="POST-name">Surnaname:</label>
            <input id="POST-name" type="text" name="Surnaname" />
            <label for="POST-name">Phone Number:</label>
            <input id="POST-name" type="text" name="phoneNumber" />
            <label for="POST-name">Company:</label>
            <input id="POST-name" type="text" name="company" />
            <label for="POST-name">Department:</label>
            <input id="POST-name" type="text" name="department" />
            <input type="submit" value="Sing Up" />
        </form>
    </div>
</div>