@use "variables" as *;

body {
  background-color: white;
}

.sidebar {
  background-color: black;
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
}

.content {
  min-width: 100vh;
  width: 100%;
}